body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.search-box {
    margin-top: 30px;
    text-align: center;
}

.search-box input[type="text"],
.search-box select,
.search-box input[type="submit"],
.search-box input[type="checkbox"] {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.results {
    margin-top: 30px;
}

.results .item,
.results .nsfw-item {
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    height: 1020px;
}

.results img,
.results video,
.results iframe,
.gallery-image {
    max-width: 1000px;
    width: 100%;
    height: 1020px;
    max-height: 1020px;
    display: block;
    margin: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.gallery-container {
    position: relative;
    width: 100%;
    max-width: 1000px; /* Adjust as needed */
    height: 1020px;
    margin: auto;
}

.gallery {
    display: flex;
    overflow: hidden;
    width: 100%;
    position: relative;
    height: 1020px;
}

.gallery-image {
    display: none;
    width: 100%;
    height: 1020px;
}

.gallery-prev, .gallery-next {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s;
}

.gallery-prev:hover, .gallery-next:hover {
    animation: fadeOut 1s forwards 1s; /* Wait 1 second before starting the fade out */
    opacity: 1;
}

@keyframes fadeOut {
    0% {
        background-color: rgba(0, 0, 0, 0.5);
    }
    100% {
        background-color: rgba(0, 0, 0, 0);
    }
}

.gallery-prev {
    left: 0;
    justify-content: flex-start;
    padding-left: 20px;
}

.gallery-next {
    right: 0;
    justify-content: flex-end;
    padding-right: 20px;
}

.video-container {
    position: relative;
    width: 100%;
    height: 1020px;
    padding-bottom: 56.25%; 
}

.video-container video,
.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.post-navigation {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-top: 20px;
}

.post-navigation .prev, .post-navigation .next {
    padding: 10px 20px;
    background-color: #ddd;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    transition: background-color 0.3s;
}

.post-navigation .prev:hover, .post-navigation .next:hover {
    background-color: #bbb;
}
